.contactsBlock {
    background: #0c0c0c;
}

.contactsContainer {
    flex-direction: column;
}

.title {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 42px;
    text-transform: uppercase;
}

.contactsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #ffe500;
    font-weight: 700;
}

.contactsForm input {
    width: 250px;
    margin: 5px;
    border-radius: 10px;
}

.contactsForm textarea {
    width: 250px;
    height: 100px;
    resize: none;
    margin: 5px;
    border-radius: 10px;
}

.contactsBtn {
    margin: 10px;
    border: none;
    width: 150px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #0c0c0c;
    font-weight: 702;
    border-radius: 20px;
    transition: .4s;
    cursor: pointer;
}

.contactsBtn:hover {
    background: #0c0c0c;
    color: #ffe500;
    border: 1px solid #ffe500;
}