.skillsBlock {
    background: #ffe500;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 42px;
    text-transform: uppercase;
    color: #0c0c0c;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

@media screen {
    @media (max-width: 937px) {
        .skills {
            justify-content: space-around;
        }
    }
    @media (max-width: 749px) {
        .skills {
            justify-content: center;
        }
    }
}