.mainBlock {
    height: 100vh;
    background: #22070A;
}

.Greetings {
    width: 300px;
    background: #AE1E36;
    color: #F1F0CC
}

.GreetingsPhoto {
    width: 300px;
    height: 400px;
    background: #AE1E36;
}