@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@390;702;900&family=Raleway:wght@300;500;800&display=swap');

.nav {
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

.nav a:nth-child(1) {
    color: #ffe500;
    font-weight: 900;
}

.nav a {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 702;
    text-decoration: none;
    transition: .3s;
}

.nav a:hover {
    color: #ffe500;
}

@media screen {
    @media (max-width: 849px) {
        .nav {
            margin: 0 auto;
        }
    }
    @media (max-width: 410px) {
        .nav a {
            font-size: 14px;
        }
    }
}