.footerBlock {
    background: url("../common/images/backgound.png");
}

.footerContainer {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.socialIconsBlock {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.socialIcon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.footerCopyright {
    margin: 20px 0 20px 0;
}