.projectsBlock {
    background: url("../common/images/backgound.png");
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 42px;
    text-transform: uppercase;
}

.projects {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

@media screen {
    @media (max-width: 983px) {
        .projects {
            justify-content: center;
        }
    }
    @media (max-width: 400px) {
        .title {
            font-size: 38px;
        }
    }
}

